.header {
  position: sticky;
  top: 100;

  background: linear-gradient(to bottom, #136b13, #05330c);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}
.header span {
  margin: 0 10px;
  font-weight: bold;
}
.product {
  padding: 15px;
  background: #fff;
  border: 1px solid rgb(226, 2, 2);
  margin-top: 20px;
  width: 25%;
 
  
  
}
.product img {
  width: 100%;
}
.product h6{
  font-size:20px;
  margin-bottom: 10px;
}
.basket{
  
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: rgba(199, 146, 146, 0.212);
}
.action{
  height: 100%;
  background:rgb(185, 16, 16);
}